<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderLink">
	<resultMap id="orderLinkResultMap" type="com.taikang.iu.opt.order.model.OrderLinkBO">
		<result property="linkId" column="LINK_ID"/>
		<result property="mealId" column="MEAL_ID"/>
		<result property="linkCode" column="LINK_CODE"/>
		<result property="linkName" column="LINK_NAME"/>
		<result property="linkNum" column="LINK_NUM"/>
		<result property="stage" column="STAGE"/>
		<result property="createdTime" column="CREATED_TIME"/>
		<result property="createdBy" column="CREATED_BY"/>
		<result property="modifiedTime" column="MODIFIED_TIME"/>
		<result property="modifiedBy" column="MODIFIED_BY"/>
		<result property="version" column="VERSION"/>
		<result property="delflag" column="DELFLAG"/>
  	</resultMap>
  
  	<sql id="orderLinkWhereCondition">
		<where>
	  	<if test=" link_id != null and link_id != '' and link_id != 'null' ">
			<![CDATA[ AND A.LINK_ID = #{link_id} ]]>
	  	</if>
	  	<if test=" meal_id != null and meal_id != '' and meal_id != 'null' ">
			<![CDATA[ AND A.MEAL_ID = #{meal_id} ]]>
	  	</if>
	  	<if test=" link_code != null and link_code != '' and link_code != 'null' ">
			<![CDATA[ AND A.LINK_CODE = #{link_code} ]]>
	  	</if>
	  	<if test=" link_name != null and link_name != '' and link_name != 'null' ">
			<![CDATA[ AND A.LINK_NAME = #{link_name} ]]>
	  	</if>
	  	<if test=" link_num != null ">
	  		<![CDATA[ AND A.LINK_NUM = ${link_num} ]]>
	  	</if>
	  	<if test=" stage != null and stage != '' and stage != 'null' ">
			<![CDATA[ AND A.STAGE = #{stage} ]]>
	  	</if>
	  	<if test=" created_time != null and created_time != '' and created_time  != 'null' ">
	    	<![CDATA[ AND A.CREATED_TIME = DATE_FORMAT(#{created_time},'%Y-%m-%d %H:%i:%s') ]]>
	  	</if>
	  	<if test=" created_by != null and created_by != '' and created_by != 'null' ">
			<![CDATA[ AND A.CREATED_BY = #{created_by} ]]>
	  	</if>
	  	<if test=" modified_time != null and modified_time != '' and modified_time  != 'null' ">
	    	<![CDATA[ AND A.MODIFIED_TIME = DATE_FORMAT(#{modified_time},'%Y-%m-%d %H:%i:%s') ]]>
	  	</if>
	  	<if test=" modified_by != null and modified_by != '' and modified_by != 'null' ">
			<![CDATA[ AND A.MODIFIED_BY = #{modified_by} ]]>
	  	</if>
	  	<if test=" version != null ">
	  		<![CDATA[ AND A.VERSION = ${version} ]]>
	  	</if>
	  	<if test=" delflag != null and delflag != '' and delflag != 'null' ">
			<![CDATA[ AND A.DELFLAG = #{delflag} ]]>
	  	</if>
		</where>
  	</sql>

  	<insert id="addOrderLink"  parameterType="java.util.Map">
		<![CDATA[
	  	INSERT INTO OPT_ORDER_LINK
		]]>
		<trim prefix="(" suffix=")" suffixOverrides=",">
	  		<if test=" link_id  != null and  link_id  != ''  and  link_id  != 'null' ">
				<![CDATA[ LINK_ID , ]]>
	  		</if>
	  		<if test=" meal_id  != null and  meal_id  != ''  and  meal_id  != 'null' ">
				<![CDATA[ MEAL_ID , ]]>
	  		</if>
	  		<if test=" link_code  != null and  link_code  != ''  and  link_code  != 'null' ">
				<![CDATA[ LINK_CODE , ]]>
	  		</if>
	  		<if test=" link_name  != null and  link_name  != ''  and  link_name  != 'null' ">
				<![CDATA[ LINK_NAME , ]]>
	  		</if>
	  		<if test=" link_num  != null ">
				<![CDATA[ LINK_NUM , ]]>
	  		</if>
	  		<if test=" stage  != null and  stage  != ''  and  stage  != 'null' ">
				<![CDATA[ STAGE , ]]>
	  		</if>
	  		<if test=" created_time  != null and  created_time  != ''  and  created_time  != 'null' ">
				<![CDATA[ CREATED_TIME , ]]>
	  		</if>
	  		<if test=" created_by  != null and  created_by  != ''  and  created_by  != 'null' ">
				<![CDATA[ CREATED_BY , ]]>
	  		</if>
	  		<if test=" modified_time  != null and  modified_time  != ''  and  modified_time  != 'null' ">
				<![CDATA[ MODIFIED_TIME , ]]>
	  		</if>
	  		<if test=" modified_by  != null and  modified_by  != ''  and  modified_by  != 'null' ">
				<![CDATA[ MODIFIED_BY , ]]>
	  		</if>
	  		<if test=" version  != null ">
				<![CDATA[ VERSION , ]]>
	  		</if>
	  		<if test=" delflag  != null and  delflag  != ''  and  delflag  != 'null' ">
				<![CDATA[ DELFLAG , ]]>
	  		</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
	  		<if test=" link_id  != null and  link_id  != ''  and  link_id  != 'null' ">
	  			<![CDATA[ #{link_id} , ]]>
	  		</if>
	  		<if test=" meal_id  != null and  meal_id  != ''  and  meal_id  != 'null' ">
	  			<![CDATA[ #{meal_id} , ]]>
	  		</if>
	  		<if test=" link_code  != null and  link_code  != ''  and  link_code  != 'null' ">
	  			<![CDATA[ #{link_code} , ]]>
	  		</if>
	  		<if test=" link_name  != null and  link_name  != ''  and  link_name  != 'null' ">
	  			<![CDATA[ #{link_name} , ]]>
	  		</if>
	  		<if test=" link_num  != null">
	    		<![CDATA[ ${link_num} , ]]>
	  		</if>
	  		<if test=" stage  != null and  stage  != ''  and  stage  != 'null' ">
	  			<![CDATA[ #{stage} , ]]>
	  		</if>
	  		<if test=" created_time != null and created_time != '' and created_time  != 'null' ">
	    		<![CDATA[ DATE_FORMAT(#{created_time},'%Y-%m-%d %H:%i:%s'), ]]>
	  		</if>
	  		<if test=" created_by  != null and  created_by  != ''  and  created_by  != 'null' ">
	  			<![CDATA[ #{created_by} , ]]>
	  		</if>
	  		<if test=" modified_time != null and modified_time != '' and modified_time  != 'null' ">
	    		<![CDATA[ DATE_FORMAT(#{modified_time},'%Y-%m-%d %H:%i:%s'), ]]>
	  		</if>
	  		<if test=" modified_by  != null and  modified_by  != ''  and  modified_by  != 'null' ">
	  			<![CDATA[ #{modified_by} , ]]>
	  		</if>
	  		<if test=" version  != null">
	    		<![CDATA[ ${version} , ]]>
	  		</if>
	  		<if test=" delflag  != null and  delflag  != ''  and  delflag  != 'null' ">
	  			<![CDATA[ #{delflag} , ]]>
	  		</if>
		</trim>
  	</insert>
 
  	<update id="updateOrderLink" parameterType="java.util.Map">
		<![CDATA[ UPDATE OPT_ORDER_LINK A ]]>
		<set>
	  	<if test=" meal_id  != null and  meal_id  != ''  and  meal_id  != 'null' ">
	  		<![CDATA[ A.MEAL_ID = #{meal_id}, ]]>
	  	</if>
	  	<if test=" link_code  != null and  link_code  != ''  and  link_code  != 'null' ">
	  		<![CDATA[ A.LINK_CODE = #{link_code}, ]]>
	  	</if>
	  	<if test=" link_name  != null and  link_name  != ''  and  link_name  != 'null' ">
	  		<![CDATA[ A.LINK_NAME = #{link_name}, ]]>
	  	</if>
		<if test=" link_num  != null ">
  			<![CDATA[ A.LINK_NUM = ${link_num} , ]]>
		</if>
	  	<if test=" stage  != null and  stage  != ''  and  stage  != 'null' ">
	  		<![CDATA[ A.STAGE = #{stage}, ]]>
	  	</if>
	  	<if test=" created_time != null and created_time != '' and created_time  != 'null' ">
	    	<![CDATA[ A.CREATED_TIME = DATE_FORMAT(#{created_time},'%Y-%m-%d %H:%i:%s'), ]]>
	  	</if>
	  	<if test=" created_by  != null and  created_by  != ''  and  created_by  != 'null' ">
	  		<![CDATA[ A.CREATED_BY = #{created_by}, ]]>
	  	</if>
	  	<if test=" modified_time != null and modified_time != '' and modified_time  != 'null' ">
	    	<![CDATA[ A.MODIFIED_TIME = DATE_FORMAT(#{modified_time},'%Y-%m-%d %H:%i:%s'), ]]>
	  	</if>
	  	<if test=" modified_by  != null and  modified_by  != ''  and  modified_by  != 'null' ">
	  		<![CDATA[ A.MODIFIED_BY = #{modified_by}, ]]>
	  	</if>
		<if test=" version  != null ">
  			<![CDATA[ A.VERSION = ${version} , ]]>
		</if>
	  	<if test=" delflag  != null and  delflag  != ''  and  delflag  != 'null' ">
	  		<![CDATA[ A.DELFLAG = #{delflag}, ]]>
	  	</if>
		</set>
		<![CDATA[ where A.LINK_ID = #{link_id}]]>
  	</update>
  
  	<delete id="deleteOrderLink" parameterType="java.util.Map">
		<![CDATA[ DELETE FROM OPT_ORDER_LINK A where A.LINK_ID = #{link_id} ]]>
	</delete>
  
	<select id="findOneOrderLink" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[ SELECT A.* FROM OPT_ORDER_LINK A  ]]>
		<include refid="orderLinkWhereCondition" />
  	</select>
    
  	<select id="findAllOrderLink" parameterType="java.util.Map" resultType="java.util.Map" >
		<![CDATA[ SELECT A.* FROM OPT_ORDER_LINK A ]]>
		<include refid="orderLinkWhereCondition" />
  	</select>
  	
  	<select id="findAllMapOrderLink" parameterType="java.util.Map" resultType="com.taikang.udp.framework.common.datastructre.impl.BaseDto" >
		<![CDATA[ SELECT A.* FROM OPT_ORDER_LINK A ]]>
		<include refid="orderLinkWhereCondition" />
	</select>
  
  	<select id="findOrderLinkTotal" parameterType="java.util.Map" resultType="java.lang.Integer">
		<![CDATA[ SELECT  COUNT(1) FROM OPT_ORDER_LINK A ]]>
		<include refid="orderLinkWhereCondition" />
  	</select>
  
  	<select id="queryOrderLinkForPage" parameterType="java.util.Map" resultType="com.taikang.udp.framework.common.datastructre.impl.BaseDto">
		<![CDATA[ SELECT A.* FROM OPT_ORDER_LINK A ]]>
		<include refid="orderLinkWhereCondition" />
  	</select>
</mapper>
